body {
  background-color: $whiteOff;
  font-family: "Public Sans", sans-serif;
  color: $greyLight;
  font-weight: 400;
}
// overflow plus mobile browsers
html,
body {
  overflow-x: hidden;
}

h1,
h2,
h3 {
  color: $blueDark;
  font-weight: 300;
}

h2 {
  font-size: $fontSizeH2;
  line-height: 160%;
  letter-spacing: -0.714286px;
  @media (max-width: 768px) {
    line-height: 118%;
    letter-spacing: -0.571429px;
  }
}

img {
  display: block;
}
.container {
  max-width: 1440px;
  // padding 165px - removed for fullHD
  width: 77%;
  margin: 0 auto;

  @media (max-width: 1200px) {
    // padding: 0 24px;
    width: 90%;
  }
}
.btn {
  position: relative;
  background-image: $gradient;
  color: $white;
  font-weight: 700;
  font-size: $font14;
  line-height: 200%;
  font-family: inherit;
  cursor: pointer;
  border: 0;
  padding: 0.6em 2.2em;
  border-radius: 1.57em;
  &:before {
    position: absolute;
    content: "";
    inset: 0;
    border-radius: 1.57em;
    background: $white;
    opacity: 0;
    transition: opacity 0.3s;
  }
  &:hover:before {
    opacity: 0.4;
  }
}
